.popup__container {
    max-width: 282px;
    width: 100%;
    min-height: 322px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    top: 123px;
}

@media (min-width: 1023px) {
    .popup__container {
        max-width: 430px;
        min-height: 330px;
        top: 195px;
    }
}